version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/tech-triage-platform"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
